<div class="grandParentContaniner">
  <div class="parentContainer">
    <h2>Crear Evento</h2>
    <form>
      <%= simple_form_for @event, html: {multipart: true} do |f| %>
        <% if @event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this pet from being saved:</h2>
            <ul>
              <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-inputs">
          <%= f.input :name, label: 'Nombre' %>
          <%= f.input :description, label: 'descripcion' %>
        </div>

        <div class="field">
          <%= f.label :imagen_del_evento %><br>
          <%= f.file_field :image %>
        </div>

        <% if current_user.admin? %>
          <div class="field">
            <%= f.label :id_del_usuario %><br>
            <%= f.number_field :user_id %>
          </div>
        <% else %>
          <div class="field">
            <%= f.hidden_field :user_id, value: current_user.id %>
          </div>
        <% end %>

        <div class="form-actions">
          <%= f.submit :Crear, class: 'btn btn-success' %>
          <div class="btn btn-primary">
            <%= link_to 'ATRAS', :back %>
          </div>
        </div>
      <% end %>
    </form>
  </div>
</div>
